// ======================================
// Bootstrap Variables Overwrites
// ======================================
$primaryColor: #006666;
$secondaryColor: #00cccc;
$textColor: #fff;
$textColor2: #363839;
$myFont: 'Nanum Gothic', sans-serif;