// ======================================
// Bootstrap Variables Overwrites
// ======================================
$primaryColor: #006666;
$linkColor: #00cccc;
$lightText: #fff;
$grayText: #818181;
$darkText: #363839;
$myFont: 'Nanum Gothic', sans-serif;